{% extends "base_generic.html" %}

{% block content %}
  <h1 class="titulo">Lista de Matérias</h1>

  {% if materia_list %}

  <table class="table table-hover" >
    <thead class="thead-dark">
      <tr> 
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col"> </th>
      </tr>
    </thead>

    <tbody>
       {% for materia in materia_list %}
           <tr>
             <td> {{ materia.codigo }}</td>
             <td> {{ materia.nome }} </td>
             <td>
                <a class="btn btn-warning"  href="{%url 'materia_update' pk=materia.pk %}"> Editar </a>
                <a class="btn btn-danger" href="{%url 'materia_delete' pk=materia.pk %}"> Deletar </a>
             </td>
           </tr>
       {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p> Nenhuma matéria cadastrada ainda. </p>
  {% endif %}       

  <a class="btn btn-primary" href="{%url 'materia_create' %}"> Cadastrar </a> 

{% endblock %}
